<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Example</title>
    <style media="screen">
      .val {
        color: red
      }
      .card {
        margin: 80px;
      }
    </style>
  </head>
  <body>
      <h1>Example</h1>
      <a href="{% url 'index' %}"><button type="button" name="button">Index</button></a>
      <h6>
        <div style="width: 50%; margin-left:400px">
          <form style="text-align: center; padding-top: 50px" enctype="multipart/form-data" action="{% url 'example' %}" method="post">
              {% csrf_token %}
              <label for="title">Title</label><br>
              <input value="{% if request.GET.titlevalue %}{{request.GET.titlevalue}}{% endif %}" type="text" required name="title">
              <br>{% if request.GET.title %}<span class="val">{{request.GET.title}}</span>{% endif %}<br>
              <label for="content">Content</label><br>
              <textarea name="content" rows="8" cols="80">{% if request.GET.contentvalue %}{{request.GET.contentvalue}}{% endif %}</textarea>
              <br>{% if request.GET.content %}<span class="val">{{request.GET.content}}</span>{% endif %}<br>
              <label for="price">Price</label><br>
              <input type="number" name="price" value="0"><br><br>
              <label for="image">Image</label>
              <input type="file" name="image"><br><br>
              <label for="in_stock">In Stock</label>
              <input type="checkbox" name="in_stock" value="on"><br><br>
              <hr>
              <button type="submit">Create</button>
          </form>
        </div>
      </h6>
      <hr>
        {% for i in examples %}
          <span class="card">
          Title: {{i.title}}
          <img width="80px" height="60px" src="{{i.imageURL}}" alt=".... - {{i.title}}">
          Price: {{i.price}} | In_Stock: {{i.in_stock}}
          </span>
        {% endfor %}
  </body>
</html>
